<div class="row align-items-center">
  <div class="p-5 text-center ">
    <div>
      <div class="text-start">
        <span class="font-28 fw-600">Forgot Password!</span>
      </div>
      <form class="mt-5" [formGroup]="form">
        <div class="form-box">
          <img src="assets/images/onboarding/user.png" alt="" class="me-2" />
          <input
            formControlName="email"
            type="text"
            placeholder="Email"
            class="form-field"
          />
        </div>
        <div
          class="font-12 text-danger text-start ms-4"
          *ngIf="
            !form.get('email')?.valid &&
            form.get('email')?.touched &&
            !form.get('email')?.value
          "
        >
          Email required!
        </div>
      </form>
      <button class="theme-btn hover mt-4" (click)="submit()">Submit</button>
      <div class="font-12 mt-3 pointer" routerLink="../sign-in"><u>Go Back</u></div>
    </div>
  </div>
</div>
